/bin/Debug/ImageCaptionEdit.vshost.exe
/bin/Release/ImageCaptionEdit.application
/bin/Release/ImageCaptionEdit.exe.manifest
/bin/Release/ImageCaptionEdit.pdb
/obj/Debug/ImageCaptionEdit.PrintPreviewMine.resources
/obj/Debug/ImageCaptionEdit.Properties.Resources.resources
/obj/Debug/ImageCaptionEdit.TrustInfo.xml
/obj/Debug/ImageCaptionEdit.frmMain.resources
/obj/Debug/ImageCaptionEdit.meta.jpg
/obj/ImageCaptionEdit.csproj.FileList.txt
/obj/Release/ImageCaptionEdit.PrintPreviewMine.resources
/obj/Release/ImageCaptionEdit.Properties.Resources.resources
/obj/Release/ImageCaptionEdit.TrustInfo.xml
/obj/Release/ImageCaptionEdit.application
/obj/Release/ImageCaptionEdit.csproj.GenerateResource.Cache
/obj/Release/ImageCaptionEdit.exe
/obj/Release/ImageCaptionEdit.exe.manifest
/obj/Release/ImageCaptionEdit.frmMain.resources
/obj/Release/ImageCaptionEdit.meta.jpg
/obj/Release/ImageCaptionEdit.pdb
